body {
    font-family: sans-serif;
    background-color: #ededed;
}

.container {
    padding:25px;
}

#top {
    margin: 20px;
    font-size: 25px;
    height: 45px;
    text-align: center;
}

.title {
    font-size: 20px;
    border-bottom: 2px dimgrey solid;
    width:250px;
}

#intro {
    padding-bottom:20px;
    border-bottom: 2px dimgrey solid;
}

img {
    height: auto;
    max-width: 20%;
}

#images {
    text-align: center;
}

#download {
    text-align: center;
    margin: 20px;

}

#button {
    font-size: 15px;
    width : 30%;
    height: 40px;
    color:white;
    background-color: darkslateblue;
    border-radius: 5px;
}

a{
    color:white;

}
